local/data/dump
node_modules/
public/js/index.js
public/js/order/PreviewOrder.js
public/js/order/PreviewAllOrders.js
public/js/budget/DrawIncomeAndOutgoGraph.js
public/js/cost/PreviewCostApplication.js
*.log
*.pem
*.swp
*.bak
*.tgz
*~
