#manage-users {
  font-size: small;
  width:     100%;
  height:    100%;
}

#manage-users-select {
  padding-top:    8px;
  margin-left:   32px;
  margin-bottom: 24px;
}

#manage-users-list {
  width:  calc(100% - 48px);
  height: calc(100% - 80px);
}

#manage-users-list col:nth-child(1) { width: 24px; }
#manage-users-list col:nth-child(2) { width: 20%; }
#manage-users-list col:nth-child(3) { width: calc(45% - 24px); }
#manage-users-list col:nth-child(4) { width: 35%; }
#manage-users-list td:nth-child(1) { text-align: center; }

.manage-users-add-user {
  color:  #1976d2;
  cursor: pointer;
}

.manage-users-remove-user {
  color:  #ff0000;
  cursor: pointer;
}

.manage-users-account {
  color:  #1976d2;
  cursor: pointer;
}

.manage-users-add-user:hover,
.manage-users-remove-user:hover,
.manage-users-account:hover {
  text-decoration: underline;
}

#edit-user {
  width:     100%;
  height:    100%;
  font-size: small;
  padding-top: 8px;
  position:  relative;
}

#edit-user fieldset {
  width:         calc(100% - 32px);
  margin-left:   16px;
  margin-bottom: 24px;
}

#edit-user-inputs {
  width:       calc(100% - 32px);
  margin-left: 32px;
  display:     flex;
}

.edit-user-input {
  width:        calc(30% - 8px);
  margin-right: 8px;
}

#edit-user-name {
  width:        calc(40% - 8px);
  margin-right: 8px;
}

#edit-user-email { width: calc(30% - 8px); }

#edit-user-checkboxes {
  margin-left: 32px;
  display:     flex;
}

.edit-user-checkbox {
  margin-right: 24px;
}

#edit-user-table-frame {
  width:  100%;
  height: calc(100% - 354px);
}

#edit-user-departments {
  width:  calc(100% -  32px);
  height: 100%;
}

#edit-user-departments col:nth-child(1) { width: 24px; }
#edit-user-departments col:nth-child(2) { width: calc(100% - 600px); }
#edit-user-departments col:nth-child(3) { width: 128px; }
#edit-user-departments col:nth-child(4) { width: 128px; }
#edit-user-departments col:nth-child(5) { width: 128px; }
#edit-user-departments col:nth-child(6) { width:  96px; }
#edit-user-departments col:nth-child(7) { width:  96px; }
#edit-user-departments td:nth-child(1) { text-align: center }
#edit-user-departments td:nth-child(3) { text-align: center }
#edit-user-departments td:nth-child(4) { text-align: center }
#edit-user-departments td:nth-child(5) { text-align: center }
#edit-user-departments td:nth-child(6) { text-align: center }
#edit-user-departments td:nth-child(7) { text-align: center }

.edit-user-add-department {
  color:  #1976d2;
  cursor: pointer;
}

.edit-user-remove-department {
  color:  #1976d2;
  cursor: pointer;
}

.edit-user-add-department:hover, .edit-user-remove-department:hover {
  text-decoration: underline;
}

#edit-user-buttons {
  position: absolute;
  right:    16px;
  bottom:    8px;
}

#manage-products {
  position:  relative;
  font-size: small;
  width:     100%;
  height:    100%;
}

#manage-products-search {
  padding-top:  8px;
  margin-left: 32px;
}

.manage-products-select {
  margin-bottom: 16px;
  margin-right:  16px;
  float:         left;
}

#manage-products-input {
  clear: both;
  width: calc(100% - 16px);
}

#manage-products-buttons {
  position: absolute;
  right:    16px;
}

#manage-products-products {
  margin-top: 80px;
  width:      calc(100% -  50px);
  height:     calc(100% - 208px);
}
