#manage-users {
  font-size: small;
  width:     100%;
  height:    100%;
}

#manage-users-select {
  padding-top:    8px;
  margin-left:   32px;
  margin-bottom: 24px;
}

#manage-users-list {
  width:  calc(100% - 48px);
  height: calc(100% - 80px);
}

#manage-users-list col:nth-child(1) { width: 24px; }
#manage-users-list col:nth-child(2) { width: 20%; }
#manage-users-list col:nth-child(3) { width: calc(45% - 104px); }
#manage-users-list col:nth-child(4) { width: 80px; }
#manage-users-list col:nth-child(5) { width: 35%; }
#manage-users-list td:nth-child(1) { text-align: center; }
#manage-users-list td:nth-child(4) { text-align: center; }

.manage-users-add-user {
  color:  #1976d2;
  cursor: pointer;
}

.manage-users-remove-user {
  color:  #ff0000;
  cursor: pointer;
}

.manage-users-account {
  color:  #1976d2;
  cursor: pointer;
}

.manage-users-add-user:hover,
.manage-users-remove-user:hover,
.manage-users-account:hover {
  text-decoration: underline;
}

