#input-amount {
  width:     calc(100% - 32px);
  height:    100%;
  padding:   32px 32px 32px 32px;
  font-size: small;
  position:  relative;
}

#input-amount-select {
  margin-left:   32px;
  margin-bottom: 32px;
}

#input-amount-table {
  width:  100%;
  height: calc(100% - 144px);
}

#input-amount-table col:nth-child(1)   { width: calc(100% - 1056px); }
#input-amount-table col:nth-child(2)   { width: 96px; }
#input-amount-table col:nth-child(n+3) { width: 80px; }
#input-amount-table td:nth-child(n+2) { text-align: right; }

#input-amount-button {
  position: absolute;
  bottom:   32px;
  right:    0;
}

#show-sheet {
  width:     calc(100% - 32px);
  height:    100%;
  padding:   32px 32px 32px 32px;
  font-size: small;
  position:  relative;
}

#show-sheet-select {
  margin-left:   32px;
  margin-bottom: 32px;
}

.show-sheet-income { color: blue; }
.show-sheet-outgo  { color: red; }

#show-sheet-table {
  width:  100%;
  height: calc(100% - 144px);
}

#show-sheet-table col:nth-child(1)   { width: calc(100% - 1248px); }
#show-sheet-table col:nth-child(2)   { width: 96px; }
#show-sheet-table col:nth-child(n+3) { width: 80px; }
#show-sheet-table col:nth-child(15) { width: 96px; }
#show-sheet-table col:nth-child(16) { width: 96px; }
#show-sheet-table td:nth-child(n+2) { text-align: right; }

#show-sheet-expense-ratios {
  width: 100%;
  margin-top:  32px;
  margin-left: 32px;
}

#show-sheet-expense-ratios col:nth-child(1)   { width: calc(100% - 1232px); }
#show-sheet-expense-ratios col:nth-child(n+2) { width: 80px; }
#show-sheet-expense-ratios col:nth-child(14)  { width: 96px; }
#show-sheet-expense-ratios col:nth-child(15)  { width: 112px; }
#show-sheet-expense-ratios td:nth-child(n+2) { text-align: right; }

.show-sheet-expense-ratios-td {
  border-right:  1px solid #888888;
  border-top:    1px solid #888888;
  border-bottom: 1px solid #888888;
}

#show-sheet-expense-ratios-td-tail {
  border-top:    1px solid #888888;
  border-bottom: 1px solid #888888;
}
