#input-amount {
  width:     calc(100% - 32px);
  height:    100%;
  padding:   32px 32px 32px 32px;
  font-size: small;
  position:  relative;
}

#input-amount-select {
  margin-left:   32px;
  margin-bottom: 32px;
}

#input-amount-table {
  width:  100%;
  height: calc(100% - 144px);
}

#input-amount-table col:nth-child(1)   { width: calc(100% - 1056px); }
#input-amount-table col:nth-child(2)   { width: 96px; }
#input-amount-table col:nth-child(n+3) { width: 80px; }
#input-amount-table td:nth-child(n+2) { text-align: right; }

#input-amount-button {
  position: absolute;
  bottom:   32px;
  right:    0;
}

#show-sheet {
  width:     calc(100% - 32px);
  height:    100%;
  padding:   32px 32px 32px 32px;
  font-size: small;
  position:  relative;
}

#show-sheet-select {
  margin-left:   32px;
  margin-bottom: 32px;
}

#show-sheet-legend-label {
  margin-left:  64px;
  margin-right:  8px;
}

.show-sheet-income {
  font-size: 96%;
  color:     blue;
}

.show-sheet-orders {
  font-size: 96%;
  color:     purple;
}

.show-sheet-costs {
  font-size: 96%;
  color:     black;
}

.show-sheet-outgo  {
  font-size: 96%;
  color:     red;
}

.show-sheet-exec-ratio    { color: green; }
.show-sheet-expense-ratio { color: grey;  }
.show-sheet-legend { margin-right: 16px; }

#show-sheet-table {
  width:  100%;
  height: calc(100% - 196px);
}

#show-sheet-table col:nth-child(1)   { width: calc(100% - 1248px); }
#show-sheet-table col:nth-child(2)   { width: 96px; }
#show-sheet-table col:nth-child(n+3) { width: 80px; }
#show-sheet-table col:nth-child(15)  { width: 96px; }
#show-sheet-table col:nth-child(16)  { width: 96px; }
#show-sheet-table td:nth-child(n+2)  { text-align: right; }

#show-sheet-totals {
  width: calc(100% - 16px);
  margin-top:  32px;
  margin-left: 32px;
}

#show-sheet-totals col:nth-child(1)   { width: calc(100% - 1248px); }
#show-sheet-totals col:nth-child(2)   { width: 96px; }
#show-sheet-totals col:nth-child(n+3) { width: 80px; }
#show-sheet-totals col:nth-child(15)  { width: 96px; }
#show-sheet-totals col:nth-child(16)  { width: 96px; }
#show-sheet-totals td:nth-child(n+2)  { text-align: right; }

.show-sheet-totals-td {
  border-right:  1px solid #888888;
  border-top:    1px solid #888888;
  border-bottom: 1px solid #888888;
  padding-left:  4px;
  padding-right: 4px;
}
