#apply-cost {
  width:     100%;
  height:    100%;
  font-size: small;
  position:  relative;
}

#apply-cost-selects {
  padding-top:   16px;
  margin-left:   32px;
  margin-bottom: 32px;
}

.apply-cost-select { margin-right: 8px; }

#apply-cost-breakdowns {
  width:  calc(100% -  48px);
  height: calc(100% - 168px);
}

#apply-cost-breakdowns col:nth-child(1) { width: 24px; }
#apply-cost-breakdowns col:nth-child(2) { width: 96px; }
#apply-cost-breakdowns col:nth-child(3) { width: calc(65% - 344px); }
#apply-cost-breakdowns col:nth-child(4) { width: 64px; }
#apply-cost-breakdowns col:nth-child(5) { width: 80px; }
#apply-cost-breakdowns col:nth-child(6) { width: 80px; }
#apply-cost-breakdowns col:nth-child(7) { width: 35%; }
#apply-cost-breakdowns td:nth-child(1) { text-align: center; }
#apply-cost-breakdowns td:nth-child(4) { text-align: right; }
#apply-cost-breakdowns td:nth-child(5) { text-align: right; }
#apply-cost-breakdowns td:nth-child(6) { text-align: right; }

.apply-cost-add-item {
  color:  #1976d2;
  cursor: pointer;
}

.apply-cost-remove-item {
  color:  #ff0000;
  cursor: pointer;
}

.apply-cost-add-item:hover, .apply-cost-remove-item:hover {
  text-decoration: underline;
}

.apply-cost-date {
  text-align: center;
  font-size:  small;
}

#apply-cost-total {
  position: absolute;
  width:    192px;
  left:      38px;
  bottom:     4px;
}

#apply-cost-buttons {
  position: absolute;
  right:    16px;
  bottom:   4px;
}
