#footer {
  margin-top: 1px;
  clear:      both;
  width:      100%;
  padding:    16px 0 16px 0;
  background: #2196f3;
}

#footer-telop {
  position: relative;
  width:    100%;
  height:   32px;
  overflow: hidden;
  background: #2196f3;
}

#footer-text {
  position:    absolute;
  right:       -1024px;
  white-space: nowrap;
  animation:   flow 24s linear infinite;
}

.footer-ordinary { color: #ffffff; }
.footer-urgency  { color: #ff0000; }

@keyframes flow {
  from { right: -2048px; }
  to   { right:  1536px; }
}
