#header {
  margin-bottom: 1px;
}

#header-kdulogo {
  margin-top:    -64px;
}

#header-upper {
  margin: 0 16px -44px 16px;
}

#header-petname {
  font-family: 'Tangerine', cursive;
  font-size:   768%;
  color:       #2196f3;
}

#header-welcome {
  font-family:  sans-serif;
  margin-top:   80px;
  float:        right;
  color:        #2196f3;
}

#header-username {
  margin: 0 4px 0 4px;
  color:  #ff9800;
}

#header-lower {
  padding:     0 16px 0 16px;
  font-family: sans-serif;
  border-top:  1px solid #2196f3;
  color:       #ffffff;
  background:  #2196f3;
}
