@media (max-height: 768px) {
  html, body, #contents-area { height: 768px; }
  #contents-area > div { height: 100%; }
}

@media (max-width: 1024px) {
  html, body, #contents-area { width: 1024px; }
  #contents-area > div { width:  100%; }
}

@media (min-height: 768px) {
  html, body, #contents-area { height: 100%; }

  #contents-area > div {
    height:     100%;
    overflow-y: hidden;
  }
}

@media (min-width: 1024px) {
  html, body, #contents-area { width: 100%; }

  #contents-area > div {
    width:      100%;
    overflow-x: hidden;
  }
}

#content {
  height: calc(100% - 160px);
  position: relative;
}

#ope { height: 100%; }

#login, #change-password, #register-message {
  margin:      0 256px 0 256px;
  padding-top: 128px;
  text-align: right;
}
