@media (max-height: 768px) {
  html, body {
    height: 768px;
  }

  body > div {
    height:     100%;
  }
}

@media (min-height: 768px) {
  html, body {
    height: 100%;
  }

  body > div {
    height:     100%;
    overflow-y: hidden;
  }
}

#content {
  height: calc(100% - 148px);
}

#ope {
  height: 100%;
}
