@media (max-height: 768px) {
  html, body, #contents-area { height: 768px; }
  #contents-area > div { height: 100%; }
}

@media (max-width: 1024px) {
  html, body, #contents-area { width: 1024px; }
  #contents-area > div { width:  100%; }
}

@media (min-height: 768px) {
  html, body, #contents-area { height: 100%; }

  #contents-area > div {
    height:     100%;
    overflow-y: hidden;
  }
}

@media (min-width: 1024px) {
  html, body, #contents-area { width: 100%; }

  #contents-area > div {
    width:      100%;
    overflow-x: hidden;
  }
}

#content {
  height:   calc(100% - 160px);
  position: relative;
}

#login-outer {
  width:   100%;
  height:  100%;
  display: flex;
  justify-content: center;
}

#login-inner {
  width:  512px;
  height: 320px;
  border: thin solid #2196f3;
  margin-top: 128px;
}

#login {
  margin:      0 48px 0 48px;
  padding-top: 32px;
  text-align:  right;
}

#change-password, #register-message {
  margin:      0 384px 0 384px;
  padding-top: 128px;
  text-align:  right;
}

#register-message {
  margin:      0 256px 0 256px;
  padding-top: 128px;
  text-align:  right;
}
