#nav {
  width:         8px;
  height:        100%;
  overflow-x:    hidden;
  overflow-y:    hidden;
  background:    #2196f3;
  position:      absolute;
  left:          0px;
  transition-property: width;
  transition-duration: 250ms;
  z-index:       100;
}

#nav-first, #nav:hover {
  width:         144px;
  height:        100%;
  overflow-y:    hidden;
  background:    #2196f3;
  padding:       8px 0 8px 0;
  position:      absolute;
  left:          0px;
  z-index:       100;
}

.nav-item-title {
  padding:     6px 0 6px 12px;
  font-size:   110%;
  color:       #bbdefb;
  font-family: sans-serif;
}

.nav-item {
  padding:     8px 0 8px 24px;
  color:       #ffffff;
  font-family: sans-serif;
  transition-property: background, color, font-size;
  transition-duration: 250ms;
}

.nav-item:hover {
  background: #1976d2;
  cursor:     pointer;
}

.nav-item-bottom {
  padding:  6px 0 6px 12px;
  width:    144px;
  position: absolute; 
  bottom:   0;
}

.nav-item-selected {
  padding:     8px 0 8px 24px;
  font-size:  110%;
  font-family: sans-serif;
  color:      #1976d2;
  background: #bbdefb;
  transition-property: background, color, font-size;
  transition-duration: 500ms;
}
