#edit-order { height: 100%; }

#edit-order-left-side {
  height: 100%;
  width:  calc(50% - 4px);
  float:  left;
}

#edit-order-right-side{
  height: 100%;
  width:  calc(50% - 4px);
  float:  right;
}

.edit-order-pane {
  margin:    8px 8px 8px 16px;
  font-size: small;
}


.search-pane-row    { margin:       8px 0 8px 32px; }
.search-pane-menu   { margin-right: 8px; }

.search-pane-button {
  margin-left: 4px;
  float:       right;
}


#candidate-pane { height: calc(100% - 368px); }

#candidate-pane-candidates {
  height: 100%;
  width:  calc(100% - 32px);
}

#candidate-pane-candidates col:nth-child(1) { width: calc(55% - 80px); }
#candidate-pane-candidates col:nth-child(2) { width: 20%; }
#candidate-pane-candidates col:nth-child(3) { width: 25%; }
#candidate-pane-candidates col:nth-child(4) { width: 80px; }
#candidate-pane-candidates td:nth-child(4)  { text-align: right; }

.candidate-pane-candidate-name {
  color:  #1976d2;
  cursor: pointer;
}

.candidate-pane-candidate-name:hover { text-decoration: underline; }

#final-pane {
  height:   100%;
  position: relative;
}

#final-pane-notices {
  padding-left:  32px;
  height:       192px;
  width:        100%;
}

#final-pane-code {
  float:         left;
  width:         32%;
  margin-bottom:  8px;
}

#final-pane-drafting-date {
  float:  left;
  width:  calc(36% - 8px);
  margin: 0 4px 8px 4px;
}

#final-pane-order-type {
  float:         right;
  width:         32%;
  margin-bottom:  8px;
}

#final-pane-drafter {
  float:         left;
  width:         49%;
  margin-bottom: 16px;
}

#final-pane-trader {
  float:         right;
  width:         49%;
  margin-bottom: 16px;
}

#final-pane-remark { clear: both; }

#final-pane-finalists {
  clear:  both;
  height: calc(100% - 324px);
  width:  calc(100% -  32px);
}

#final-pane-finalists col:nth-child(1) { width: calc(70% - 160px); }
#final-pane-finalists col:nth-child(2) { width: 20% }
#final-pane-finalists col:nth-child(3) { width: 80px; }
#final-pane-finalists col:nth-child(4) { width: 10%; }
#final-pane-finalists col:nth-child(5) { width: 80px; }
#final-pane-finalists td:nth-child(3) { text-align: right; }
#final-pane-finalists td:nth-child(4) { text-align: right; }
#final-pane-finalists td:nth-child(5) { text-align: right; }

.final-pane-finalist-name {
  color:  #ff0000;
  cursor: pointer;
}

.final-pane-finalist-name:hover { text-decoration: underline; }

#final-pane-total {
  width:    128px; 
  margin:   8px 0 8px 32px;
  position: absolute;
  bottom:   4px;
}

#final-pane-buttons {
  position: absolute;
  bottom:   14px;
  right:     0px;
}

.final-pane-button { margin-left: 4px; }

#list-orders {
  width:       calc(100% - 8px);
  height:      100%;
  padding-top:   8px;
  font-size:   small;
  position:    relative;
}

#list-orders fieldset {
  width:       calc(100% - 16px);
  margin-left: 16px;
}

#list-orders-search { height: 128px; }

#list-orders-calendar-marker {
  float:       left;
  width:       256px;
  margin-left:  32px;
  margin-right: 16px;
}

.list-orders-checkbox {
  float: left;
  width: 80px;
}

.list-orders-checkbox-short {
  float: left;
  width: 60px;
}

#list-orders-buttons {
  clear:    both;
  position: absolute;
  top:      112px;
  right:     16px;
}

.list-orders-button { margin-left: 4px; }

#list-orders-filter-text-inputs {
  width:       calc(100% - 48px);
  margin-left: 32px;
}

#list-orders-filter-text-inputs col:nth-child(1)  { width:  56px; }
#list-orders-filter-text-inputs col:nth-child(2)  { width: 130px; }
#list-orders-filter-text-inputs col:nth-child(3)  { width:  14%; }
#list-orders-filter-text-inputs col:nth-child(4)  { width:  80px; }
#list-orders-filter-text-inputs col:nth-child(5)  { width: calc(68% - 498px); }
#list-orders-filter-text-inputs col:nth-child(6)  { width:  10%; }
#list-orders-filter-text-inputs col:nth-child(7)  { width:  80px; }
#list-orders-filter-text-inputs col:nth-child(8)  { width:  80px; }
#list-orders-filter-text-inputs col:nth-child(9)  { width:  56px; }
#list-orders-filter-text-inputs col:nth-child(10) { width:  10%;  }
#list-orders-filter-text-inputs col:nth-child(11) { width:  14px; }

.list-orders-filter, .list-orders-filter-input {
  width: 100%;
}

#list-orders-table-frame {
  margin-top: 24px;
  height:     calc(100% - 208px);
}

#list-orders-orders {
  width:  calc(100% - 32px);
  height: calc(100% - 96px);
}

#list-orders-orders col:nth-child(1)  { width:  56px; }
#list-orders-orders col:nth-child(2)  { width: 130px; }
#list-orders-orders col:nth-child(3)  { width:  14%; }
#list-orders-orders col:nth-child(4)  { width:  80px; }
#list-orders-orders col:nth-child(5)  { width: calc(68% - 498px); }
#list-orders-orders col:nth-child(6)  { width:  10%; }
#list-orders-orders col:nth-child(7)  { width:  80px; }
#list-orders-orders col:nth-child(8)  { width:  80px; }
#list-orders-orders col:nth-child(9)  { width:  56px; }
#list-orders-orders col:nth-child(10) { width:  10%;  }
#list-orders-orders col:nth-child(11) { width:  14px; }
#list-orders-orders td:nth-child(1) { text-align: center; }
#list-orders-orders td:nth-child(2) { text-align: center; }
#list-orders-orders td:nth-child(4) { text-align: center; }
#list-orders-orders td:nth-child(7) { text-align: right; }
#list-orders-orders td:nth-child(8) { text-align: right; }
#list-orders-orders td:nth-child(9) { text-align: center; }
#list-orders-orders td:nth-child(11) { text-align: center; }

.list-orders-order-code {
  color:  #1976d2;
  cursor: pointer;
}

.list-orders-order-code:hover { text-decoration: underline; }

.list-orders-order-code-for-expensive {
  color:  #ff0000;
  cursor: pointer;
}

.list-orders-order-code-for-expensive:hover { text-decoration: underline; }

.list-orders-urgency { color: red; }

.list-orders-remark {
  font-weight: bold;
  color:       #1976d2;
  cursor:      pointer;
}

.list-orders-remark:hover { text-decoration: underline; }

.list-orders-turned-back,
.list-orders-mixed-product-state {
  color: #ff0000;
}

#list-orders-print-all {
  position: absolute;
  bottom:   4px;
  right:    2px;
}

#process-order {
  width:       calc(100% - 8px);
  height:      100%;
  padding-top:   8px;
  font-size:   small;
  position:    relative;
}

#process-order fieldset {
  height:     176px;
  margin-left: 16px;
}

#process-order-notices {
  margin-left:   32px;
  margin-bottom: 16px;
  display:       flex;
}

.process-order-notice {
  width:        15%;
  padding-right: 8px;
}

#process-order-department { width: 25%; }

#process-order-remark {
  margin: 0 8px 32px 32px;
  width:  calc(100% - 32px);
}

#process-order-products {
  margin-left: 48px;
  height:      calc(100% - 256px);
  width:       calc(100% -  48px);
}

#process-order-products col:nth-child(1) { width: calc(85% - 586px); }
#process-order-products col:nth-child(2) { width:  15%; }
#process-order-products col:nth-child(3) { width:  96px; }
#process-order-products col:nth-child(4) { width:  50px; }
#process-order-products col:nth-child(5) { width:  80px; }
#process-order-products col:nth-child(6) { width:  80px; }
#process-order-products col:nth-child(7) { width:  80px; }
#process-order-products col:nth-child(8) { width: 104px; }
#process-order-products col:nth-child(9) { width:  96px; }
#process-order-products td:nth-child(3)  { text-align: right; }
#process-order-products td:nth-child(4)  { text-align: right; }
#process-order-products td:nth-child(5)  { text-align: right; }
#process-order-products td:nth-child(6)  { text-align: right; }
#process-order-products td:nth-child(7)  { text-align: right; }
#process-order-products td:nth-child(8)  { text-align: center; }
#process-order-products td:nth-child(9)  { text-align: center; }

#process-order-totals {
  display:     flex;
  margin-left: 48px;
  position:    absolute;
  bottom:      4px;
}

.process-order-total {
  width:      128px;
  margin-right: 8px;
}

#process-order-completed-date {
  position: absolute;
  width:    128px;
  left:     320px;
  bottom:     4px;
}

#process-order-buttons {
  position: absolute;
  bottom:   4px;
  right:    0;
}

.process-order-button { margin-left: 4px; }
