#order-left-side {
  height: 100%;
  width:  calc(45% - 4px);
  float: left;
}

#order-right-side{
  height: 100%;
  width:  calc(55% - 4px);
  float:  right;
}

.order-pane {
  margin:    8px 8px 8px 16px;
  font-size: small;
}

.order-search-pane-row {
  margin: 8px 0 8px 32px;
}

.order-search-pane-menu {
  margin-right: 8px;
}

#order-candidate-pane {
  height: calc(100% - 348px);
}

.order-search-pane-button { float: right; }

#order-candidates {
  height: 100%;
  width:  calc(100% - 32px);
}

#order-candidates col:nth-child(1) { width: calc(50% - 80px); }
#order-candidates col:nth-child(2) { width: 25%; }
#order-candidates col:nth-child(3) { width: 25%; }
#order-candidates col:nth-child(4) { width: 80px; }
#order-candidates td:nth-child(4)  { text-align: right; }

.order-candidate-name:hover {
  color:           #1976d2;
  text-decoration: underline;
  cursor:          pointer;
}

#order-final-pane {
  height: 100%;
  position: relative;
}

#order-final-pane-notice {
  padding-left:  32px;
  height:        128px;
  width:         100%;
}

.order-final-pane-notice-left {
  float: left;
  width: 49%;
  margin-bottom: 8px;
}

.order-final-pane-notice-right {
  float: right;
  width: 49%;
  margin-bottom: 8px;
}

#order-finalists {
  clear:  both;
  height: calc(100% - 260px);
  width:  calc(100% - 32px);
}

#order-finalists col:nth-child(1) { width: calc(57% - 160px); }
#order-finalists col:nth-child(2) { width: 20% }
#order-finalists col:nth-child(3) { width: 80px; }
#order-finalists col:nth-child(4) { width:  8%; }
#order-finalists col:nth-child(5) { width: 80px; }
#order-finalists col:nth-child(6) { width: 15%; }
#order-finalists td:nth-child(3) { text-align: right; }
#order-finalists td:nth-child(4) { text-align: right; }
#order-finalists td:nth-child(5) { text-align: right; }
#order-finalists td:nth-child(6) { text-align: center; }

.order-finalist-name:hover {
  color:           #ff0000;
  text-decoration: underline;
  cursor:          pointer;
}

#order-total {
  width: 192px; 
  margin: 8px 0 8px 32px;
  position: absolute;
  bottom:   4px;
}

#order-final-pane-buttons {
  position: absolute;
  bottom: 14px;
  right:  0px;
}

#order-list {
  width: calc(100% - 8px);
  font-size: small;
}

#order-list-table {
  width: calc(100% - 32px);
}

#order-list-table col:nth-child(1) { width: 160px }
#order-list-table col:nth-child(2) { width: 80px }
#order-list-table col:nth-child(3) { width: calc(60% - 480px) }
#order-list-table col:nth-child(4) { width: 80px }
#order-list-table col:nth-child(5) { width: 20% }
#order-list-table col:nth-child(6) { width: 20% }
#order-list-table col:nth-child(7) { width: 80px }
#order-list-table col:nth-child(8) { width: 80px }
