#order-left-side {
  height: 100%;
  float: left;
}

#order-right-side{
  height: 100%;
  float:  right;
}

.order-pane {
  margin:    8px 8px 8px 8px;
  font-size: small;
}

.order-search-pane-input {
  margin: 8px 0 8px 32px;
}

#order-candidate-pane {
  height: calc(100% - 280px);
}

#order-search-pane-button {
  float: right;
}

#order-candidates {
  height: 100%;
}

#order-candidates col:nth-child(1) {
  width: 200px;
}

#order-candidates col:nth-child(2) {
  width: 80px;
}

#order-candidates col:nth-child(3) {
  width: 80px;
}

#order-candidates col:nth-child(4) {
  width: 50px;
}

#order-candidates td:nth-child(4) {
  text-align: right;
}
