.table-frame {
    margin-left: 32px;
    width:       100%;
}

.table-frame-title {
  border-bottom:  4px #dddddd solid;
  margin-bottom:  2px;
  padding-bottom: 4px;
  width:          100%;
}

.table-frame-title table {
  width: 100%;
}

.table-frame th:hover { cursor: pointer; }

.table-frame-caret {
  font-size: 75%;
  margin-left: 2px;
}

.table-frame-body {
  height:     calc(100% - 30px);
  overflow-y: scroll;
}

.table-frame tbody tr {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
}

.table-frame tbody td:first-child {
  padding-left: 0;
}

.table-frame tbody td {
  padding-left: 8px;
}
