.table-frame {
  margin-left: 32px;
  width:      100%;
}

.table-frame-title {
  border-bottom:  4px #888888 solid;
  margin-bottom:  2px;
  padding-bottom: 4px;
  width:          calc(100% - 16px);
}

.table-frame-title  table { width: 100%; }
.table-frame        th    { text-align: center; }
.table-frame-header:hover { cursor: pointer; }

.table-frame-caret {
  font-size:   75%;
  margin-left: 2px;
}

.table-frame-body {
  width:      100%;
  height:     calc(100% - 30px);
  overflow-y: scroll;
}

.table-frame-body table { width: 100%; }

.table-frame tbody tr {
  border-bottom: 1px solid #888888;
  margin-bottom: 10px;
}

.table-frame tbody td:first-child { padding-left: 0; }

.table-frame tbody td {
  border-right:  1px solid #888888;
  padding-left:  4px;
  padding-right: 4px;
}

.table-frame tbody td:last-child { border-right: 0px; }

.table-frame-input {
  color:  #2196f3;
  border: none;
  width:  100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
}

.table-frame-input-disabled {
  border: none;
  width:  100%;
}

.table-frame-input-number { text-align: right; }

.table-frame-input:focus {
  box-shadow: inset #2196f3 1px -1px 1px 1px, inset #2196f3 -1px 1px 1px 1px;
}

.table-frame select { border: none; }

.table-frame-datepicker {
  width:      96px;
  height:     16px;
  margin-top:  4px;
  margin-left: 4px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.table-frame-datepicker-inner {
  color:      #1976d2;
  height:      22px;
  margin-top:  -8px;
  margin-left: -2px;
  overflow-x: hidden;
  overflow-y: hidden;
}
