.table-frame {
    margin-left: 32px;
    width:       100%;
}

.table-frame-title {
  border-bottom:  4px #dddddd solid;
  margin-bottom:  2px;
  padding-bottom: 4px;
  width:          calc(100% - 16px);
}

.table-frame-title table { width: 100%; }
.table-frame th       { text-align: center; }
.table-frame th:hover { cursor: pointer; }

.table-frame-caret {
  font-size:   75%;
  margin-left: 2px;
}

.table-frame-body {
  width:      100%;
  height:     calc(100% - 30px);
  overflow-y: scroll;
}

.table-frame-body table { width: 100%; }

.table-frame tbody tr {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
}

.table-frame tbody td:first-child {
  padding-left: 0;
}

.table-frame tbody td {
  border-right:  1px solid #cccccc;
  padding-left:  4px;
  padding-right: 4px;
}

.table-frame tbody td:last-child {
  border-right: 0px;
}

